<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalkulator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="IKA_021"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".biner"></activity>
        <activity android:name=".menu_awal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".standar" />
        <activity android:name=".science" />
    </application>

</manifest>